.figure-link:link,
.figure-link:visited {
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 0.1s ease-in;
}
.figure-link:hover {
  box-shadow: 2px 2px 18px 0px rgb(119, 120, 132);
}
.figure-link h2 {
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: 700;
}
.price {
  font-size: 1.8rem;
  font-weight: 700;
}
.figure-link img {
  align-self: center;
  width: 70%;
  height: 50%;
}

.figure-link div {
  border-top: 1px solid #ddd;
  padding: 1.2rem;
}
.price-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
}
.btn-figure:link,
.btn-figure:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 2.4rem;
  border: 1px solid #ddd;
  font-weight: 700;
  transition: all 0.2s ease;
}
.btn-figure:hover,
.btn-figure:active {
  border: 2px solid #e4000f;
  margin: -1px;
}
