.sidebar {
  width: 80%;
  min-height: 144rem;
}
.sidebar > * {
  padding-bottom: 2rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #ddd;
}
.label-container {
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-container {
  transition: all 0.3s ease-in-out;
}
.label-container:hover {
  cursor: pointer;
}
.filter-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}
label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.4rem;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
label:hover {
  cursor: pointer;
}
