.sign-dropdown {
  top: 7rem;
  right: 10%;
  font-size: 1.8rem;
  position: absolute;
  box-shadow: 4px 4px 12px 0px rgba(66, 68, 90, 1);
  background-color: #fff;
  border-radius: 15px;
  z-index: 999;
}

.sign-header {
  font-weight: 800;
  border-radius: 15px 15px 0 0;
  padding: 2.4rem 1.2rem;
  background-color: #eee;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border-bottom: 0.5px solid #ddd;
}
.user-links {
  padding: 2.4rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.sign-header a:visited {
  color: #333;
}
.sign-btn {
  font-weight: 800;
  font-size: 1.2rem;
  padding: 1rem 4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}
.sign-btn:hover {
  outline: 1px solid #e4000f;
  cursor: pointer;
}
.sign-btn a:link,
.sign-btn a:visited {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #333;
  transition: all 0.1s ease-in-out;
}
